/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 19-mars-2016, 17:21:01
    Author     : delcroip
*/

ul.listHoliday{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

li.listItemHoliday{
    float: left;
    width: 50%;
    background-color: transparent;
}

a.holiday{
    display:block;
    padding: 0;
    margin: 0;
}

a.noPrevHoliday{
    margin-left: 5%;
    /*border-left: thick double #000000;*/
}
a.noNextHoliday{
    margin-right: 10%;
    /*border-left: thick double #000000;*/
}

tr.dblist:hover{
    	font-weight: bold;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

/* The Modal (background)  https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}